#header {
    margin: 10px auto;
}

#footer {
    margin: 10px auto;
}

#profile-form {
    clear: both;
}

#profile-form h2 {
    color: #3a3a3a;
    margin-top: 0.7em;
    margin-bottom: 0.65em;
    font-weight: 600;

    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

#profile-form .profile-right {
    background: #f3f3f1;
    margin-top: 6%;
    margin-left: 10px;
    margin-right: 0px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

@media only screen and (min-width:768px) {
    #profile-form .profile-container div {
        display: inline-block;
        float: left;
    }

    #profile-form .profile-right {
        float: right;
        width: 22%;
        padding-left: 2%;
    }

    #profile-form .profile-content {
        display: block;
        width: 70%;
    }
    #profile-form .profile-info {
        display: inline-block;
    }
}

#profile-form img {
    width: 100px;
    padding: 0;
    margin: 5px;
    display: inline-block;
    float:left;
}

.clear-float {
    clear:both;
}

@media only screen and (min-width:480px) and (max-width:768px){
    .profile-info {display:none;}
}

@media only screen and (max-width: 480px){
    .profile-info {display:none;}
}


.profile-form h2 {
    font: 1.8em Cardo, Georgia, serif;
    border-bottom: 2px solid rgb(76, 67, 65);
    margin-bottom: 1.5em;
}

.profile-image img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.profile-image:hover img {
    -webkit-transform:scale(3); /* Safari and Chrome */
    -moz-transform:scale(3); /* Firefox */
    -ms-transform:scale(3); /* IE 9 */
    -o-transform:scale(3); /* Opera */
    transform:scale(3);
}

.working-hour,.service-table {
    margin-left:auto;
    margin-right:auto;
    width: 100%;
}

.working-hour th{
    /* font-weight:90; */
    color: #ffffff;
    background: #ea6153;
}

.working-hour tr, .service-table tr{
    display: table-row;
    background: #f6f6f6;
}

.working-hour th {
    /*font-weight: 90; */
    color: #ffffff;
    background: #ea6153
}

.service-table th {
    /*font-weight: 90; */
    color: #ffffff;
    background: cadetblue;
}

[view="show"] {
    display:inline;
}

[view="no-show"] {
    display:none;
}

#setting-view .container, #login-view .container {
    width: 450px;

}

