body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.main {
  width: 75%;
  height:  75%;
  margin: auto;
}

.nav-bar {
}

.nav-bar-img {
   display: inline-block;
   width: 150px;
   height: 150px;
}


.nav-bar-logo {
  float: left;
}

.nav-bar-ul {
  list-style-type: none;
  background-color: #d9d9d9;
  font-size: 1.5em;
}

a{
  color: blue;
}

a:visited{
  color: purple;
}


li {
  display: inline-block;
}

li a {
  text-decoration: none;
  display:  block;
  font-size: .75em;
  color: black;
  padding: 15px 15px;
  text-align: center;
}

li a:hover {
  background-color: #808080;
}

form div{
  margin-top: 25px;
}

#search-main-page {
  float: right;
  width:  250px;
  height: 45px;
  -webkit-transition: width 1s;
  -moz-transition:  width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

#search-main-page:hover {
  width: 300px;
}

#search-main-image {
  float: right;
  width: 50px;
  height: 50px;
}

.header {
  height: 50px;
  width: 100%;
  background-color: #F5F5DC;
  text-align: right;
}

button:hover {
  cursor: pointer;
}

#login-button {
  margin-top: 10px;
}

#register-button {
  margin-top: 15px;
  margin-right: 22px;
}

#main-banner {
  position: relative;
  clear: both;
}


#main-banner-img{
  width: 100%;
  border: 2px solid DarkGray;
}

.main-page-stub-table {
  width: 100%;
}

.box-stub-h3 {
  border-top: 4px solid #9fd175; 
  color: #252e42;    
}


#appointment-form {
  clear: both;	
}

#doctor-search-box{
  position: fixed;
  right: 15%;
  top: 30%;
  height: 300px;
  width: 300px;
  border: 2px solid black;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  -moz-transition:  -moz-transform 0.2s ease-in;
  -o-transition:  -o-transform 0.2s ease-in;
}

#doctor-search-box:hover {
    -moz-transform: scale(1.05);
    -ms-transform:  scale(1.05);
    -o-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    background-color:#D3D3D3;
}


#special-doctor{
  text-align: center;
}

#diagnosis{
  width:  350px;
  height:  150px;
}

.disease {
    position: absolute;
    top: 30%;
    left: 10%;
    margin-right: -10%;
}

.disease-type {
    position: absolute;
    top: 43%;
    left: 10%;
    margin-right: -10%;
}


.specialists-title {
  position: absolute;
  top:  46%;
  left: 7%;
  margin-right: -7%;
  text-decoration: underline;
}

.specialists {
  position: absolute;
  top:  59%;
  left: 7%;
  margin-right: -7%;
}

input[type=checkbox]:checked + label{  
    font-style: italic;
}
